@model MusicTime.Domain.Band

@{
  ViewBag.Title = "Details";
}

<link href="@Url.Content("~/Content/BandDetails.css")" rel="stylesheet" type="text/css" />
<link href="~/Content/BandDetails.css" />
<h1 style="">
  <img src="@Url.Content(Model.Logo)" style="width: 150px;"/>
</h1>
<div class="img-thumbnail center-block" style="width: 300px;">
  <img src="@Url.Content(Model.Photo)" style="width: 300px;"/>
</div>
<div>
  <hr />
  <dl class="dl-horizontal">
    <dt class="lblLabel" id="lbl">

    <dt class="lblLabel">
      @Html.DisplayNameFor(model => model.BandBio)
    </dt>

    <dd>
      @Html.DisplayFor(model => model.BandBio)
    </dd>
    <dt class="lblLabel">
      @Html.DisplayNameFor(model => model.Genre)
    </dt>
    <dd>
      @Html.DisplayFor(model => model.Genre)
    </dd>
    
    <dt class="lblLabel">
      @Html.DisplayNameFor(model => model.Artists)
    </dt>
    <dd>
      <table class="table">
        <tr>
          <th>
            First Name
          </th>
          <th>
            Last Name
          </th>
          <th>
            Instrument
          </th>
        </tr>
        @foreach (var artist in Model.Artists)
        {
          <tr>
            <td>
              @Html.DisplayFor(a => artist.FirstName)
            </td>
            <td>
              @Html.DisplayFor(a => artist.LastName)
            </td>
            <td>
              @Html.DisplayFor(a => artist.Instrument)
            </td>
            <td>
              @Html.ActionLink("Member Bio", "Details", "Artists", new { id = artist.Id }, null)
            </td>
          </tr>
        }
      </table>
    </dd>
  </dl>
</div>
<p>
  @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
  @Html.ActionLink("Back to List", "Index") |
  @Html.ActionLink("Add Artist", "Create", "Artists")
</p>
