@model IEnumerable<MusicTime.Domain.Artist>

@{
  ViewBag.Title = "Index";
}

<h2>Index2</h2>
<style type="text/css">
  .typeahead,
  .tt-query,
  .tt-hint {
    width: 396px;
    height: 30px;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    border: 2px solid #ccc;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    outline: none;
  }
</style>
<head>
  @*<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0-beta1/js/bootstrap.min.js"></script>*@
  @Styles.Render("~/Content/jqueryui")
  @Styles.Render("~/Content/typeahead")
</head>
<p>
  @Html.ActionLink("Create New", "Create")
</p>
<body>
  <div class="container">
    <h1>Typeahead Demo</h1>
    <div>
      <input id="txtAlbums" class="typeahead" typeof="text" placeholder="Search Albums" />
    </div>
    <div>
      <input id="txtArtists" class="typeahead" typeof="text" placeholder="Search Artists" />
      <button id="btnArtists" type="submit" class="btn btn-success"></button>
    </div>
  </div>
</body>
@ViewBag.Message
@using (Html.BeginForm("Index", "Artists", FormMethod.Post))
{
  <input type="text" id="txtArtist" name="ArtistName" class="form-control" autocomplete="on" style="width:300px" />
  <input type="hidden" id="hfArtistr" name="ArtistId" />
  <div>
    @Html.TextBox("searchTerm")
  </div>
  <div>
    <input type="submit" name="submit" value="Search" id="btnSubmit" />
  </div>

}
<table class="table">
  <tr>
    <th>
      @Html.DisplayNameFor(model => model.FirstName)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.LastName)
    </th>
    <th></th>
  </tr>

  @foreach (var item in Model)
  {
    <tr>
      <td>
        @Html.DisplayFor(modelItem => item.FirstName)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.LastName)
      </td>
      <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
        @Html.ActionLink("IndexAjax", "IndexAjax", new { id = item.Id })
      </td>
    </tr>
  }

</table>
<div id="divArtists"></div>
@section Scripts{
  <script type="text/javascript" src="~/Scripts/handlebars-v4.7.7.js"></script>
}
<script type="text/javascript">
  function getJsonAlbums() {
    console.log('on load again');
    var url = '@Url.Action("GetJsonAlbums", "Experiment")';
    var albums = '';
    $.get({
      url: url,
    })
      .done(function (result) {
        albums = result;
        console.log('in getJsonAlbums() .done function result = ');
        console.log(albums);
      });

    return albums;
  }

  $('#btnArtists').click(function () {
    $.get({
      url: '@Url.Action("GetJsonArtists", "Experiment")',
      data: { q: $('#txtArtists').val() },
      success: function (response) {
        console.log(response.FirstName);
        $('#divArtists').html(response);
      }
    })
  })

  $(function () {

  })

  $(function () {
    var albums = new Bloodhound({
      remote: {
        url: '@Url.Action("GetJsonAlbums", "Experiment")' + '?q=%QUERY',
        wildcard: '%QUERY',
        ajax: {
          type: "POST",
          dataType: "json",
          contentType: "application/json; charset=utf-8"
        }
      },
      datumTokenizer: Bloodhound.tokenizers.obj.whitespace('title'),
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      limit: 100
      }
    )
    $('#txtAlbums').typeahead({
      hint: true,
      highlight: true,
      minLength: 1
    }, {
      name: 'albums',
      display: 'Title',
      source: albums,
    });

    var artists = new Bloodhound({
    remote: {
      url: '@Url.Action("GetJsonArtists", "Experiment")' + '?q=%QUERY',
        wildcard: '%QUERY',
        ajax: {
          type: "POST",
          dataType: "json",
          contentType: "application/json; charset=utf-8"
        }
      },
      datumTokenizer: Bloodhound.tokenizers.obj.whitespace('age'),
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      limit: 100

  });
    console.log('bloodhound artists:' + artists);

  $('#txtArtists').typeahead({
    hint: true,
    highlight: true,
    minLength: 1
  }, {
    name: 'artists',
    display: 'FirstName',
    source: artists,
    templates: {
      header: '<h3 class="league-name">Artists</h3>',
      notFound: '<div>Not Found</div>'
    }
  },
    {
      name: 'albums',
      display: 'Title',
      source: albums,
      templates: {
        header: '<h3 class="league-name">Albums</h3>',
        notFound: '<div>Not Found</div>'
      }
    }
    );
  })
</script>
